.card:hover {
  cursor: pointer;
}

.card .card-img-overlay .error {
  display: block;
  width: fit-content;
  margin: auto;
}

.card .card-img-overlay .edit-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.card:hover .card-img-overlay .edit-btn {
  visibility:visible;
  opacity: 1;
}

.card .card-img-overlay .city-name {
  display: block;
  width: fit-content;
  margin: auto;
}

.hidden {
  display: none;
}

.card .card-img-overlay .city-name-input {
  width: fit-content;
  margin: auto;
  vertical-align: center;
}
