.card:hover {
  cursor: pointer;
}

.card .card-img-overlay .error {
  display: block;
  width: fit-content;
  margin: auto;
}

.card .card-img-overlay .btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 0.5rem;
  right: 1.2rem;
  background: white;
}
.card:hover .card-img-overlay .btn {
  visibility:visible;
  opacity: 0.8;
}

.card .card-img-overlay .city-name {
  display: block;
  width: fit-content;
  margin: auto;
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}

.card .card-img-overlay .city-name-input {
  width: fit-content;
  margin: auto;
  vertical-align: center;
}

.card .card-img-overlay .weather-data {
  background: white;
  opacity: 80%;
}
